{% extends "ProyectoWebApp/base.html" %}

{% load static %}

{% block content %}

    {% for tutorial in tutoriales %}

    <div class="contenedorTutoriales">
      <div class="div1">
          <img class="img" src="{{tutorial.imagen.url}}" alt="" width="70%">
      </div>
      <div class="Titulo_y_Link">
          <h1 style="color:white">{{tutorial.titulo}}</h1>
          <a style="color:white" href="{{tutorial.contenido}}"><input type="button" value="Click para ir al {{tutorial.titulo}}"></a>
      </div>
      </div>
  </section>

    {% endfor %}

{% endblock %}