{% extends "ProyectoWebApp/base.html" %}

{% load static %}

{% block content %}

<div class="contenedorContenidoTutoriales">
    <div class="div1">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'ProyectoWebApp/img/permiso.png' %}" alt="">
    </div>
    <div class="div2">
        <p class="text" style="Color:white;text-align: justify;">
            1) <b style="color: lightskyblue;"><u>Permisos:</u></b> Una vez descargado Whatsapp, abra la aplicacion, le pedira aceptar una serie de permisos
            entre estos el acceso a sus Contactos, mostrar notificaciones y los Terminos de Uso y Privacidad.<br>
        </p>
        <p class="text" style="Color:white;text-align: justify;" >
            2) <b style="color: lightskyblue;"><u>Numero:</u></b> El siguiente paso sera agregar su numero de telefono, pero antes tendra que especificar el +56 correspondiente a Chile, 
            posterior a esto ingrese su numero de telefono, presione en "Siguiente" y luego en "Aceptar" <br>
        </p>
        <p class="text" style="Color:white;text-align: justify;" >
            2) <b style="color: lightskyblue;"><u>Confirmacion:</u></b> Luego Whatsapp le enviara un mensaje de texto con un código de verificación.
            Busque y abra este mensaje. Dirá "Tu código de WhatsApp es [# ##-###]. También puedes tocar este enlace para verificar tu teléfono:", seguido de un enlace.
            Una vez confirmada suu identidad a través del teléfono y se abrirá la página de creación de cuenta.<br>
        </p>
        <p class="text" style="Color:white;text-align: justify;">
            4) <b style="color: lightskyblue;"><u>Creacion de cuenta:</u></b> Ingresa tu nombre y sube una foto. 
            Si bien la foto es opcional, sería bueno que agregues una así tus contactos pueden confirmar tu identidad.
            Presione "Listo", entonces estara listo para enviar mensajes. <br>
        </p>         
    </div>
</div>

<div class="contenedorContenidoTutoriales">
    <div class="div1">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'ProyectoWebApp/img/newchat.jpg' %}" alt="">
        <br>
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'ProyectoWebApp/img/calls.jpg' %}" alt="">
    </div>
    <div class="div2">
        <p class="text" style="Color:white;text-align: justify;">
            5) <b style="color: lightskyblue;"><u>Abrir Chats:</u></b> En la Seccion de "Chats" ubica en la parte inferior el simbolo verde de "Nuevo Chat"
            , la cual te mostrara tu serie de contactos guardados. Toca el nombre del contacto con el cual quieras chatear. Al hacerlo, se abrirá la ventana de chat de esa persona. <br>
        </p>
        <p class="text" style="Color:white;text-align: justify;" >
            6) <b style="color: lightskyblue;"><u>Enviar mensajes:</u></b> Para enviar mensajes toca el cuadro de chat, está en la parte inferior de la pantalla,
            se te abrira el teclado y una vez hayas escrito el mensaje Toca el ícono verde ubicado a la derecha del cuadro de chat. 
            Tu mensaje aparecerá en el lado derecho de la ventana de mensajes. <br>
        </p>
        <p class="text" style="Color:white;text-align: justify;">
            7) <b style="color: lightskyblue;"><u>Enviar fotos:</u></b> Envía una foto a través del chat. Si quieres tomar o seleccionar una foto para enviarla a través del chat, haz lo siguiente:<br>
                - <i style="color:bisque;"></i>Toca el ícono en forma de cámara que está a la derecha del cuadro de texto.<br>
                - <i style="color:bisque;"></i>Toca ACEPTAR o PERMITIR dos o tres veces cuando aparezcan esas opciones.<br>
                - <i style="color:bisque;"></i>Selecciona una foto o toma una nueva.<br>
                - <i style="color:bisque;"></i>Presiona el icono de enviar<br>
        </p>
        <p class="text" style="Color:white;text-align: justify;">
            8) <b style="color: lightskyblue;"><u>Realizar llamadas:</u></b> Abre el chat de la persona a quien quieras llamar (PASO5)<br>
                - <i style="color:bisque;"></i>Toca el botón "Llamar". Es el ícono en forma de teléfono que está en la parte superior derecha de la pantalla. 
                Al tocarlo, llamarás al contacto a través de WhatsApp.<br>
        </p>         
    </div>
</div>

<div class="contenedorContenidoTutoriales">
    <div class="div1">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'ProyectoWebApp/img/newcontact.jpg' %}" alt="">
    </div>
    <div class="div2">
        <p class="text" style="Color:white;text-align: justify;">
            9) <b style="color: lightskyblue;"><u>Agregar un nuevo contacto:</u></b> Regresa a la seccion "Chats" <br>
                - <i style="color:bisque;"></i> Apreta el icono de "Nuevo Chat".<br>
                - <i style="color:bisque;"></i> Toca donde dice "Nuevo contacto". Esta opción está en la parte superior de la página.<br>
                - <i style="color:bisque;"></i> Escribe el nombre del contacto. Toca el cuadro de texto "Nombre" y escribe el nombre del contacto.<br>
                - <i style="color:bisque;"></i> Toca Añadir teléfono. Está en el medio de la pantalla.
                Escribe el número de teléfono de la persona que quieras agregar como contacto.<br>
                - <i style="color:bisque;"></i> Finalmente, toca en "Guardar". <br>
            </p>
        </p>
      
    </div>
</div>



{% endblock %}