{% extends "ProyectoWebApp/base.html" %}

{% load static %}

{% block content %}

<div class="contenedorTutoriales">
    <div class="div1">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'ProyectoWebApp/img/principal.jpg' %}" alt="">
    </div>
    <div class="div2">
        <p class="text" style="Color:white;">
        escribir primeros pasos del tutorial, con imagen para ayudar a la persona 
        </p>
    </div>
</div>

<div class="contenedorTutoriales">
    <div class="div1">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'ProyectoWebApp/img/bg_main.jpg' %}" alt="">
    </div>
    <div class="div2">
        <p class="text" style="Color:white;">
        escribir segundos pasos del tutorial, con imagen para ayudar a la persona 
        </p>
    </div>
</div>


{% endblock %}